body{
    background-color: lightblue;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color:darkblue;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
}

img{
    margin-left: 40%;
}